rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null
        && request.auth.token.email == 'rtiempomuerto@gmail.com';
    }

    match /fuentes/{fuenteId} {
      allow read: if resource.data.activa == true || isAdmin();
      allow create, update, delete: if isAdmin();
    }

    match /publicidades/{publicidadId} {
      allow read: if resource.data.activa == true || isAdmin();
      allow create, update, delete: if isAdmin();
    }

    match /canciones/{cancionId} {
      allow read: if true;
      allow write: if false;
    }

    match /pedidosCanciones/{pedidoId} {
      allow create: if
        request.resource.data.estado == "pendiente"
        && request.resource.data.nombre is string
        && request.resource.data.nombre.size() >= 1
        && request.resource.data.nombre.size() <= 60
        && request.resource.data.ciudad is string
        && request.resource.data.ciudad.size() >= 1
        && request.resource.data.ciudad.size() <= 80
        && request.resource.data.titulo is string
        && request.resource.data.archivo is string
        && request.resource.data.archivo.size() >= 1
        && request.resource.data.mensaje is string
        && request.resource.data.mensaje.size() <= 250;

      allow read, update, delete: if isAdmin();
    }
  }
}
